<!doctype html>
<html>

 <head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="geoserver.component.scss">
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script> <!-- JavaScript para traer el MapBox. -->
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' /> <!-- Dirección del MapBox. -->
 </head>
 
 <body>
 
	<!-- Posicionamiento del MapBox traído dentro de la página HTML. -->
	<div id='map' style='position: absolute; top:0; bottom:0; right: 0; left: 0; width:100%;'> </div> 

	<!-- JavaScript relacionado a los componentes del MapBox. -->
	<script>

		mapboxgl.accessToken = 'pk.eyJ1IjoiZ3VzZ3VldmFyYXYiLCJhIjoiY2w1eDM5NHZyMDFqdDNqczJ5NDM4azJzcyJ9.hmjc6BLK9MPEUxVtm8QWJw';
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/satellite-v9',
			center: [-74.08175 , 4.60971],
			zoom: 10, // starting zoom
			projection: 'globe' // display the map as a 3D globe
		});

		map.on('style.load', () => {
		map.setFog({}); // Set the default atmosphere style
		});
		
		// Add zoom and rotation controls to the map.
		map.addControl(new mapboxgl.NavigationControl(), 'top-right');
		
		map.addControl(new mapboxgl.GeolocateControl({
		positionOptions: {
		enableHighAccuracy: true
		},
		trackUserLocation: true,
		showUserHeading: true
		}));

		
		map.addControl(new mapboxgl.FullscreenControl());
		
		// Funcionalidad de visualizar un punto establecido por coordenadas junto con un mensaje en HTML.
		const popup = new mapboxgl.Popup({ closeOnClick: false })
		.setLngLat([-74.03186097725647, 4.711169107514393]) 
		.setHTML('<h1 style="text-align: center;"> Aquí estás </h1> <br> <center> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Logo_de_la_Universidad_El_Bosque.svg/1200px-Logo_de_la_Universidad_El_Bosque.svg.png" style="width: 100px; height: 80px; border: solid; padding: 10px 10px 10px 10px;"> </center>')
		//Se agregan las características al MapBox.
		.addTo(map);
		
		//Funcionalidad de escala.
		const scale = new mapboxgl.ScaleControl({
		maxWidth: 100, 
		unit: 'imperial'
		});
		map.addControl(scale);
	
		scale.setUnit('metric');

	</script>

    <!-- Botón de atrás. -->
	<div style='position: absolute; top:5%; left: 2%;'>

		<a href="./index.html">
			<button class="botonAtras"> <span style="color: red; font-size: 14px;"> <strong> ⇦ </strong> </span> </button>
		</a>

	</div>

</body>
</html>