<!-- <app-propiedades style="width: 100%; height: 450px" > </app-propiedades> -->

<div class="container">
  <script
    src="https://www.paypal.com/sdk/js?client-id=AXXOGfXO09fK4PBr9R6AATYCURn6DdICkW0-FQwkuL8EFtvG2sfkww_fstS73xR_03S7u_Pf6j8tewig"></script>
  <div class="separacion">
    <div class="row">
      <h1 class="font-weight-bold titulo3">
        <mark>Servicios Adquiridos más cercanos!</mark>
        <hr />
      </h1>
      <div class="row">
        <p class="texto1 mt-4">
          Escoge al usuario colaborador más cercano a tu ubicación, contáctalo
          para el ajuste de horarios y requerimientos del servicio, por medio de
          la aplicación WhatsApp. Una vez efectuado el contacto y establecido el
          horario, realiza el pago a SysBitHomeServices. Una vez finalizado el
          contrato, se desembolsará el dinero al usuario que has contratado.
        </p>

        <br />

        <p class="texto1">
          SysBitHomeServices busca unir a los usuarios para una contratación
          ágil, personalizada y sin tanto complique.
        </p>
      </div>
    </div>

    <div class="row">
      <h1 class="font-weight-bold titulo3">Pago virtual:</h1>
      <hr />
    </div>

    <div class="row">
      <p class="texto1 mt-4"> Con SysBitHomeServices puedes realizar el pago del servicio selecionado, a través de la
        plataforma
        <span style="color: rgb(38, 0, 255);">Mercado Pago</span>, herramienta que te permite pagar con tarjetas
        de diversos bancos y/o efectivo.
      </p>

      <br>

      <p class="texto1"> ¡Qué esperas para comprar tu servicio requerido! </p>

      <br>


    </div>
    <div class="row mt-3">

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <ul class="texto1">
            <li><span style="color: rgb(11, 159, 0);">Descripción</span>: Cuidado personal</li>
            <li><span style="color: rgb(11, 159, 0);">Sub-total</span>: 70.000 COP</li>
            <li><span style="color: rgb(11, 159, 0);">Seguridad Social</span>: 2.280 COP</li>
            <li><span style="color: rgb(11, 159, 0);">Seguro de Riesgo Laboral</span>: 5.220 COP </li>
            <li><span style="color: rgb(11, 159, 0);">Impuestos</span>: IVA inculido del 19% = 14.725 COP </li>
            <li><span style="color: rgb(14, 48, 217);">TOTAL A PAGAR</span>: 92.225 COP</li>
        </ul>
    </div>
      <!-- <div
        class="spaceImg col text-center col-sm-6 col-md-6 col-lg-12 col-xl-12" -->
      <div class="row align-items-center">
        <div class="col-sm-5 col-md-6">
          <div class="row text-center">
            <h2>Mercado Pago</h2>
            <img src="../../../assets/img/pagos/logo-mercadopago.jpg" class="img-fluid border border-2 border-dark" />
            <div class="space"></div>
            <button class="btn btn-primary" role="button" (click)="goToUrl()" id="buttonPagar">
              Pagar por mercado Pago
            </button>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <hr />
      <div class="row mt-2 text-center">
        <button class="btn btn-success" (click)="finalizoServicio()" role="button" [routerLink]="['/home']">
          Finalizar Servicio
        </button>
      </div>
      <br />
    </div>

    <br />
    <br />
  </div>
</div>