<header class="encabezado">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ng-container *ngIf="(user$ | async) === null; else logOutTemplate">
        <div class="text-end">

          <nav>

            <li style="margin: 0px 0px 0px 0vw; padding: 0vh 0vh 0vh 0px;" class="contenedorb">

            <div> <img src="../../../assets/img/Logo_SysBit.PNG" 
              width=100px height=80px border=2px> </div>

            </li>


            <li style="margin: 0px 0px 0px 56vw; padding: 2vh 4vh 2vh 0px; border-right: solid;" class="contenedorb">
                
              <button type="button" class="boton1" [routerLink]="['/sign-in']" routerLinkActive="router-link-active">
                Iniciar Sesión 
              </button>

            </li>
  
            <li style="margin: 0px 0px 0px 4vh; padding: 2vh 0vh 2vh 0px;" class="contenedorb">
                
              <button type="button" class="boton2" [routerLink]="['/sign-up']" routerLinkActive="router-link-active me-2">
                Registrarse
              </button>


            </li>

            </nav>

        </div>
      </ng-container>

      
      <ng-template #logOutTemplate>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onLogout()"
          [routerLink]="['/sign-in']"
          routerLinkActive="router-link-active me-2"
        >
          Cerrar Sesión
        </button>
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li>
            <a
              class="nav-link px-2 text-white"
              aria-current="page"
              [routerLink]="['/']"
              routerLinkActive="router-link-active"
              >Servicios</a
            >
          </li>
          <li>
            <a
              class="nav-link px-2 text-white"
              [routerLink]="['/']"
              routerLinkActive="router-link-active"
              >Localización</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/about']"
              routerLinkActive="router-link-active me-2"
              class="nav-link px-2 text-white"
              >Acerca de Nosotros</a
            >
          </li>
          <li>
            <a href="#" class="nav-link px-2 text-white">Notificaciónes</a>
          </li>
          <li>
            <a
              [routerLink]="['/registro']"
              routerLinkActive="router-link-active me-2"
              class="nav-link px-2 text-white"
              >Registro</a
            >
          </li>
        </ul>

        <div class="dropdown text-end">
          <a
            href="#"
            class="d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt="mdo"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </a>
        </div>
      </ng-template>
    </div>
  </div>
</header>
