.separacion{
  padding-top: 4%;
}

.ubication{
 left: auto;
}

.space{
  padding-top: 1.5rem;
}

.spaceImg{
padding-right: 2.5rem;
}
.titulo1{

  color: #90bd2e;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Algerian';
  align-items: center;
  text-align: center;
  background: rgb(5,0,36);
  background: linear-gradient(90deg, rgba(5,0,36,1) 0%, rgba(9,121,75,1) 50%, rgba(5,0,36,1) 100%);
}


.titulo2{


  color: #08ffef;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Algerian';
  margin-top: 80px;
  align-items: justify;
  text-align: justify;
  background: rgb(184,109,4);
  background: linear-gradient(90deg, rgba(184,109,4,1) 0%, rgba(1,93,134,1) 50%, rgba(184,109,4,1) 100%);

}

.titulo3{


  color: #000000;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Algerian';
  margin-top: 10px;
  align-items: justify;
  text-align: justify;

}

.video{

  margin-top: 40px;


}

.texto1{

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: justify;

}


