
<div class="row align-items-center" style="align-items: center;">

  <div class="terms-box align-items-center">
      <div class="terms-text">
          <h2 class="text-center">TÉRMINOS Y CONDICIONES</h2>
          <p class="text-center">Última edición:16/03/2023</p>
          <br>
          <p>SysBitHomeServices es un servicio informático web cuyo funcionamiento y esencia se relacionan a una
              plataforma virtual, gratuita para su ingreso, desde la cual se busca facultar la oferta y contratación,
              por parte de usuarios terceros, de servicios laborales domésticos en la ciudad de Bogotá DC, Colombia, y
              sus alrededores; sus titulares: D. L. Barrera López, S. C. Nieto Camacho y D. M. Veloza Martínez,
              estudiantes de la Universidad El Bosque en el programa de Ingeniería de Sistemas, en conjunto de la
              dirección de la docente ingeniera D. M. Jiménez Rojas, buscan promover un espacio virtual desde el cual
              se propenda al cumplimiento de las disposiciones legales del Ministerio de Trabajo colombiano referentes
              a los servicios laborales domésticos, además de brindar una sensación de seguridad de los datos
              aplicables para con los usuarios terceros que tengan contacto con el sistema de información.
              SysBitHomeServices busca posicionarse en el marco económico de los servicios laborales domésticos como
              un sistema informático referente para la oferta y contratación de dichos servicios y enfocándose en
              disminuir el tiempo que tarda efectuar una contrato o promoción del servicio, en comparación a sistemas
              similares nacionales e internacionales. Finalmente, se establece este texto a fin de delimitar las
              responsabilidades de los titulares y directivos, brindar información a los usuarios sobre la sujeción
              que deben realizar a los términos y condiciones legalmente aplicables para hacer uso del sistema, e
              informar sobre aspectos adicionales, considerados de importancia, de la aplicación.
          </p>

          <br>
          <p>I. OBJETO.</p>

          <p>El objeto de los presentes términos y condiciones se enfocan en regular el acceso y utilización del
              contenido, productos y/o servicios a disposición del público en general bajo el nombre de
              SysBitHomeServices. Los titulares y directivos del sistema informático se reservan el derecho de
              realizar cualquier tipo de modificación en el sitio web, en cualquier momento y sin previo aviso, por lo
              cual, el usuario acepta esas modificaciones. El acceso al sitio web por parte del usuario, es libre y
              gratuito; la utilización de su contenido, productos y/o servicios podrían implicar un mínimo costo
              adicional enfocado a los contratos convenidos entre las partes involucradas de la esencia de negocio de
              SysBitHomeServices. El sistema informático web está únicamente dirigido a personas mayores de edad y,
              sus titulares y directivos, no se hacen responsables por el incumplimiento de esto. El sitio web está
              dirigido a usuarios residentes en Bogotá DC, Colombia, y sus alrededores; si el usuario reside en otra
              nación o lugar del territorio delimitado, y accede al sistema, lo hará bajo su responsabilidad. La
              administración del sistema informático puede ejercerse por terceros, es decir, personas distintas a los
              titulares y/o directores, sin afectar los presentes términos y condiciones.
          </p>

          <br>
          <p>II. USUARIO.</p>

          <p>La actividad del usuario en el sistema informático como publicaciones o comentarios estarán sujetos a los
              presentes términos y condiciones. El usuario se compromete a utilizar el contenido, productos y/o
              servicios de forma lícita, sin faltar a la moral, al orden público, a las leyes nacionales e
              internacionales aplicables, absteniéndose de realizar cualquier acto que afecte los derechos de terceros
              relacionables al sitio web o el funcionamiento del mismo y atendiendo las diferentes sanciones penales
              si se incumple lo dispuesto. El usuario se compromete a proporcionar información verídica y documentos
              auténticos en los formularios del sistema de información. El acceso al sitio web, no supone una relación
              entre el usuario y los titulares junto con los directivos. El usuario manifiesta, aceptando lo
              dispuesto, que es mayor de edad y cuenta con el entendimiento jurídico que supone el uso de
              SysBitHomeServices bajo una incuestionable ética.
          </p>

          <br>
          <p>III. ACCESO Y NAVEGACIÓN EN EL SITIO WEB.</p>

          <p>Los titulares y directivos no garantizan en plenitud, la continuidad y disponibilidad del contenido,
              productos y/o servicios en el sitio web; se ejecutarán acciones que fomenten el funcionamiento pleno del
              sistema informático sin responsabilidad alguna. Los titulares y directivos no se responsabilizan de que
              el software esté libre de errores que puedan causar algún daño al software y/o hardware del equipo desde
              el cual, el usuario acceda y utilice el sistema de información. </p>

          <br>
          <p>IV. POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS.</p>

          <p>Conforme a lo establecido en las leyes colombianas referentes la protección de datos como la ley 1581 de
              2012, el decreto 1377 de 2013, la ley 1266 de 2008 y demás estamentos legales relacionados al derecho de
              Habeas Data, los titulares se comprometen a implementar las mejores medidas que garanticen la seguridad
              informática del usuario, de acuerdo a lo dictaminado por ley; bajo la misma línea, el usuario se
              compromete a informarse sobre las leyes mencionadas y demás relacionales, informará a los directivos y
              titulares, a través de los canales de contacto establecidos en el sistema, si encuentra alguna falla
              relacionable a la política de privacidad y protección de datos y se abstendrá de tomar acciones legales
              dañinas en contra de los titulares y directivos. El titular, en conjunto con el usuario, corroborará que
              los datos personales del usuario, contenidos en las bases de datos del sistema, sean correctos,
              verídicos y actuales, así como que se utilicen únicamente con el fin con el que fueron recabados. El uso
              de los datos personales proporcionados por el usuario serán utilizados únicamente para la esencia de
              negocio de SysBitHomeServices que es la oferta y contratación de servicios laborales en la zona
              geográfica especificada anteriormente; además de estudios sobre los datos recolectados, bajo técnicas de
              ingeniería de sistemas, como la utilización de inteligencias artificiales, conceptos de estadística,
              entre otros, con fines de estudios mercadotécnicos o similares que permitan mejorar el paradigma de
              negocio. El sitio web podría implicar la utilización de cookies, definidas como pequeñas cantidades de
              información que se almacenan en el navegador utilizado por el usuario para acceder al sistema
              informático; algunos datos guardados son: fecha y hora de acceso al sitio web, sitios visitados y
              dirección IP. Las cookies facilitan la navegación, sin embargo, el usuario puede desactivarlas en
              cualquier momento. SysBitHomeServices, sus titulares y directivos no se harán responsables de la fuga de
              datos por parte de ataques informáticos perpetrados por terceros y el uso que le den estos; por el
              contrario, informará a los usuarios del ataque cibernético y se pondrá en contacto con las autoridades
              nacionales pertinentes para esos casos a fin de salvaguardar los datos de los usuarios. </p>


          <br>
          <p>V. POLÍTICA DE ENLACES.</p>

          <p>Los enlaces web visualizados en el sistema SysBitHomeServices podrían direccionar al usuario a otros
              sitios de internet, pertenecientes a terceros, de los cuales los titulares y directivos no se hacen
              responsables. </p>


          <br>
          <p>VI. POLÍTICA DE PROPIEDAD INTELECTUAL E INDUSTRIAL.</p>

          <p>Los titulares manifiestan tener los derechos de propiedad intelectual e industrial del sitio web,
              incluyendo sus logotipos, marcas, colores, diseños y características representativas. El usuario se
              compromete a respetar los derechos de propiedad intelectual e industrial de los titulares, pudiendo
              visualizar los elementos del sistema informático, almacenarlos, copiarlos e imprimirlos exclusivamente
              para uso personal. </p>

          <br>

          <p>VII. LEGISLACIÓN Y JURISDICCIÓN APLICABLE.</p>

          <p>La relación entre el usuario y los titulares, se regirá las legislaciones nacionales colombianas. El
              usuario que contrate servicios laborales domésticos, se comprometerá al cumplimiento de las
              disposiciones legales establecidas por el Ministerio de Trabajo de Colombia para los servicios en
              cuestión. El usuario que oferte servicios laborales domésticos, se comprometerá al cumplimiento de las
              disposiciones legales establecidas por el Ministerio de Trabajo de Colombia. SysBitHomeServices, sus
              titulares y directivos no se responsabilizan por la indebida utilización del contenido, productos y/o
              servicios del sitio web y del incumplimiento de lo formulado en los presentes términos y condiciones.
          </p>

          <br>
          <br>

          <h4>Estoy de acuerdo con los <span> Términos y Condiciones de SysBitHomeServices</span> y confirmo que leí todo el documento.</h4>
          <div class="buttons" routerLinkActive="active">
              <a class="btn red-btn" href="registro/usuarios">Aceptar</a>
              <a class="btn gray-btn" href="home">Declinar</a>
          </div>

      </div>
  </div>

</div>
