.terms-box{
  width: 80%;
  background-color: rgb(83, 83, 83,0.1);
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  padding: 0 20px;
  height: 950PX;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-align: just;
  margin:0px auto;
}
.terms-text{
  padding: 0 20px;
  height: 950px;
   overflow-y: auto;
  font-size: 14;
  font-weight: 500;
  color: #111;
  overflow-x: hidden;
}
.terms-text::-webkit-scrollbar{
  width: 2px;
  background-color: #1f0165;
}
.terms-text::-webkit-scrollbar-thumb{
  background-color: #f1f1f1;
}
.terms-text h2{
  text-transform: uppercase;
}
.terms-text h4{
  font-size: 13px;
  text-align: center;
  padding: 0 40px;
}
.terms-box h4 span{
  color: rgb(245, 68, 68);
  text-transform: uppercase;
}
.buttons{
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  padding-bottom: 50px;
}
.btn{
  height: 50px;
  width: calc(50% - 6px);
  border: 0;
  border-radius: 6px;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  transition: .3s linear;
  cursor: pointer;
}
.red-btn{
  background-color: green;
}
.gray-btn{
  background-color: rgb(245, 68, 68);
}
.btn:hover{
  opacity: .6;
}
