<div class="card border-danger mb-3">
  <div class="card-header">Colaboradores</div>
  <div class="card-body text-danger">
    <h2 class="card-title">Listado Colaboradores</h2>
    <table class="table table-bordered table-striped">
      <thead>
          <tr>
              <th> Codigo Colaborador </th>
              <th> Nombre Colaborador </th>
              <th> Apellido Colaborador </th>
              <th> Correo Colaborador </th>
              <th> Usuario Colaborador </th>
              <th> Telefono Colaborador </th>
              <th> Fecha Nacimiento Colaborador </th>
              <th> Numero de documento</th>
              <th> Tipo de documento </th>
              <th> Editar </th>
              <th> Eliminar </th>
              <th> Documentos verificados </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let colaborador of colaboradores">
              <td>{{colaborador.codUcr}}</td>
              <td>{{colaborador.nomUcr}}</td>
              <td>{{colaborador.apeUcr}}</td>
              <td>{{colaborador.correoUcr}}</td>
              <td>{{colaborador.username}}</td>
              <td>{{colaborador.telefonoUcr}}</td>
              <td>{{colaborador.fechaNacimientoUcr}}</td>
              <td>{{colaborador.numDocumentoUcr}}</td>
              <td>{{colaborador.tipoDoc.nombreTipoDocumento}}</td>
              <td>
                <button class="btn" name="button" [routerLink]="['/registro/colaboradores/editar',colaborador.codUcr]"  >
                  <img src="../../../assets/img/editar.jpg" style="width: 70px; height: 75px;">
                </button>
                </td>
                <td>
                  <button class="btn">
                    <img src="../../../assets/img/eliminar.jpg" style="width: 70px; height: 75px;">
                  </button>
                </td>
                <td>
                  <button class="btn">
                    <img src="../../../assets/img/autorización.jpg" style="width: 70px; height: 75px;">
                  </button>
                </td>
          </tr>
      </tbody>
    </table>
  </div>
