<div class="container" style="margin-left: 10%;
margin-top: 2.5%;">
    <div class="card bg-white text-dark" style="height:47rem;width: 30cm;">
        <div class="card-header">Registrar Contratantes </div>
        <div class="card-body">
            <form class="was-validated">
                <div class="row" style="height:3cm;">
                    <div class="col">
                        <label for="validationTextarea" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="validationTextarea" placeholder="Nombre"
                            [(ngModel)]="contratante.nomUce" name="nomUce" required>
                        <div class="invalid-feedback">
                            Ingresar el nombre
                        </div>
                    </div>
                    <div class="col">
                        <label for="validationTextarea" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="validationTextarea" placeholder="Apellido"
                            [(ngModel)]="contratante.apeUce" name="apeUce" required>
                        <div class="invalid-feedback">
                            Ingresar el Apellido
                        </div>
                    </div>
                </div>
                <div class="row" style="height:3cm;">
                    <div class="col">
                        <label for="validationTextarea" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="validationTextarea" placeholder="Correo"
                            [(ngModel)]="contratante.correoUce" name="correoUce" required data-msg-email="Por favor ingresa un correo electrónico válido.">
                        <div class="invalid-feedback">
                            Por favor ingrese un correo y debe ser un correo electronico valido
                        </div>
                    </div>
                    <div class="col">
                        <label for="validationTextarea" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="validationTextarea" placeholder="Usuario"
                            [(ngModel)]="contratante.username" name="username" required maxlength="10" data-msg-maxlength="El usuario no puede tener más de 10 caracteres.">
                        <div class="invalid-feedback">
                            Ingresar el Usuario
                        </div>
                    </div>
                </div>
                <div class="row" style="height:3cm;">
                    <div class="col">
                        <label for="validationTextarea" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" placeholder="Contraseña" id="validationTextarea"
                            [(ngModel)]="contratante.claveUce" name="claveUce" required maxlength="10" data-msg-maxlength="El usuario no puede tener más de 10 caracteres.">
                        <div class="invalid-feedback">
                            Ingresar la Contraseña y debe tener menos de 10 caracteres
                        </div>
                    </div>
                    <div class="col">
                        <label for="validationTextarea" class="form-label">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="validationTextarea"
                            placeholder="Verificar Contraseña" [(ngModel)]="contratante.confirmClaveUce" name="confirmClaveUce" required maxlength="10" data-msg-maxlength="El usuario no puede tener más de 10 caracteres.">
                        <div class="invalid-feedback">
                            Verificación de la contraseña 
                        </div>
                    </div>
                </div>
                <div class="row" style="height:3cm;">
                    <div class="col">
                        <label for="validationTextarea" class="form-label">Teléfono</label>
                        <input type="number" class="form-control" id="validationTextarea" placeholder="Telefono"
                            [(ngModel)]="contratante.telefonoUce" name="telefonoUce" required>
                        <div class="invalid-feedback">
                            Ingresar el Telefono
                        </div>
                    </div>
                    <div class="col">
                        <label for="validationTextarea" class="form-label">Fecha de nacimiento</label>
                        <input type="date" data-date-format="aaaa/mm/dd" class="form-control"
                            placeholder="Fecha de nacimiento" id="validationTextarea"
                            [(ngModel)]="contratante.fechaNacimientoUce" name="fechaNacimientoUce" required>
                        <div class="invalid-feedback">
                            Ingresar la Fecha de nacimiento
                        </div>
                    </div>
                </div>

                <div class="row" style="height:3cm;">

                    <div class="col">
                        <div class="col">
                            <label for="validationTextarea" class="form-label">Tipo de documento</label>
                            <select class="form-select" [(ngModel)]="contratante.tipoDocContratantes" name="tipoDocContratantes" required>
                                <option [ngValue]="" required>Tipo de documento</option>
                                <option [ngValue]="tipoDocumento" *ngFor="let tipoDocumento of tipoDocumentos">
                                    {{tipoDocumento.nombreTipoDocumento}}</option>
                            </select>
                            <div class="invalid-feedback">
                                Ingresar el tipo de documento
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <label for="validationTextarea" class="form-label">Numero de documento</label>
                        <input type="number" class="form-control" placeholder="Numero de documento"
                            id="validationTextarea" [(ngModel)]="contratante.numDocumentoUce" name="numDocumentoUce" required>
                        <div class="invalid-feedback">
                            Ingresar el numero de documento
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="formFile" class="form-label">Cedula de ciudadania</label>
                            <input class="form-control" type="file" id="formFile" required (change)="cargaArchivos($event)">
                            <div class="invalid-feedback">Seleccionar la cedula de ciudadania</div>
                        </div>
                    </div>

                    <div class="row" style="height:3cm;">
                        <div class="col">
                            <button class="btn btn-primary" role="button" (click)="create()"
                                *ngIf="!contratante.codUce else elseBlock">Registrar</button>
                            <ng-template #elseBlock>
                                <button class="btn btn-primary" role="button" (click)="update()">Editar</button>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>