<!-- <app-propiedades style="width: 100%; height: 450px" > </app-propiedades> -->

<app-propiedades style="width: 100%; height: 450px"> </app-propiedades>

<div class="container">
  <script src="https://www.paypal.com/sdk/js?client-id=AXXOGfXO09fK4PBr9R6AATYCURn6DdICkW0-FQwkuL8EFtvG2sfkww_fstS73xR_03S7u_Pf6j8tewig"></script>
  <div class="separacion">
    <div class="row titulo1">
      <p>Servicios Adquiridos más cercanos!</p>
    </div>

    <div class="row mt-2">
      <p class="texto1 mt-4">
        Escoge al usuario colaborador más cercano a tu ubicación, contáctalo
        para el ajuste de horarios y requerimientos del servicio, por medio de
        la aplicación WhatsApp. Una vez efectuado el contacto y establecido el
        horario, realiza el pago a SysBitHomeServices. Una vez finalizado el
        contrato, se desembolsará el dinero al usuario que has contratado.
      </p>

      <br />

      <p class="texto1">
        SysBitHomeServices busca unir a los usuarios para una contratación ágil,
        personalizada y sin tanto complique.
      </p>
    </div>

    <div class="row titulo2">
      <p>Pago virtual:</p>
    </div>

    <div class="row mt-2">
      <p class="texto1 mt-4">
        Con SysBitHomeServices puedes realizar el pago del servicio selecionado,
        a través de un código QR que se debe escaner mediante la aplicación
        móvil <span style="color: red">DaviPlata</span>. De esa forma, ahorras
        tiempo al no ingresar datos de tarjetas bancarias.
      </p>

      <br />

      <p class="texto1">
        Si no cuentas con una cuenta en DaviPlata, sigue los pasos que se
        describen en el siguiente video y crea tu cuenta en menos de cinco
        minutos.
      </p>

      <br />

      <div
        class="col text-center col-sm-12 col-md-12 col-lg-12 col-xl-12 video"
      >
        <!-- <youtube-player videoId="AjO6vTlV9wQ"> </youtube-player> -->
        <youtube-player videoId="AjO6vTlV9wQ"></youtube-player>
      </div>
    </div>
    <div class="row titulo3">
      <p>Factura (Código QR):</p>
    </div>

    <div class="row mt-3">
      <p class="texto1">
        Escanéa el código QR desde <span style="color: red">DaviPlata</span> y
        efectúa el pago que se describe a continuación:
      </p>

      <br />

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <ul class="texto1">
          <li>
            <span style="color: rgb(11, 159, 0)">Descripción</span>: servicio de
            profesionales en enfermería / cuidadores
          </li>
          <li>
            <span style="color: rgb(11, 159, 0)">Sub-total</span>: 64.900 COP
          </li>
          <li>
            <span style="color: rgb(11, 159, 0)">Seguridad Social</span>: 2.280
            COP
          </li>
          <li>
            <span style="color: rgb(11, 159, 0)">Seguro de Riesgo Laboral</span
            >: 5.220 COP
          </li>
          <li>
            <span style="color: rgb(11, 159, 0)">Impuestos</span>: IVA inculido
            del 19% = 13.756 COP
          </li>
          <li>
            <span style="color: rgb(14, 48, 217)">TOTAL A PAGAR</span>: 86.156
            COP
          </li>
        </ul>
      </div>
      <div class="col text-center col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <img
          src="../../../assets/img/pagos/PS1.jpg"
          class="img-fluid border border-2 border-dark"
          style="width: 25%; height: 300px"
        />
      </div>
      <div class="row mt-5 text-center">
        <form method="POST" action="https://secure.payzen.lat/vads-payment/">
          <input class="btn btn-secondary" type="submit" name="pagar" value="Pagar" />
        </form>
      </div>
      <div class="space">

      </div>
      <hr/>
      <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-info" role="button" >Finalizar Servicio </button>
  </div>
      <br />
    </div>

    <br />
    <br />
  </div>

  <!-- </div>

    <form method="POST" action="https://secure.payzen.lat/vads-payment/">
      <input type="hidden" name="vads_action_mode" value="INTERACTIVE" />
      <input type="hidden" name="vads_amount" value="20000" />
      <input type="hidden" name="vads_ctx_mode" value="TEST" />
      <input type="hidden" name="vads_currency" value="170" />
      <input type="hidden" name="vads_cust_country" value="CO" />
      <input type="hidden" name="vads_cust_email" value="sebas@gmail.com" />
      <input type="hidden" name="vads_cust_first_name" value="John" />
      <input type="hidden" name="vads_cust_last_name" value="Doe" />
      <input type="hidden" name="vads_cust_cell_phone" value="315486955" />
      <input type="hidden" name="vads_cust_national_id" value="1222333000" />
      <input type="hidden" name="vads_page_action" value="PAYMENT" />
      <input type="hidden" name="vads_payment_cards" value="NEQUI" />
      <input type="hidden" name="vads_payment_config" value="SINGLE" />
      <input type="hidden" name="vads_site_id" value="12345678" />
      <input type="hidden" name="vads_tax_rate" value="19.00" />
      <input type="hidden" name="vads_trans_date" value="20230323062807" />
      <input type="hidden" name="vads_trans_id" value="362812" />
      <input type="hidden" name="vads_version" value="V2" />
      <input
        type="hidden"
        name="signature"
        value="NM25DPLKEbtGEHCDHn8MBT4ki6aJI/ODaWhCzCnAfvY="
      />

    </form>
  </div> -->
</div>
