<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SobreNosotros</title>
  </head>
  <body>
    <div class="space">
    <main class="contenedor">
      <h3 class="centrar-texto">Sobre Nosotros</h3>

      <div class="sobre-nosotros">
        <div class="sobre-nosotros__imagen">
          <img
            src="../../../assets/img/Logo_SysBit.PNG"
            alt="imagen nosotros"
            style="width: 650px; height: 500px; margin-left: 2.4%;"
          />
        </div>

        <div class="sobre-nosotros__texto">
          <p>
            SysBitHomeServices nace como idea tecnológica, por parte de
            estudiantes de la Universidad El Bosque en el programa de Ingeniería
            de Sistemas, con la proyección de ser un sistema confiable para la
            adquisición y oferta de servicios laborales domésticos en Bogotá y
            sus alrededores, siempre buscando subsanar las necesidades de los
            usuarios involucrados.
          </p>
        </div>
      </div>
    </main>
  </div>
    <script src=""></script>
  </body>

</html>
