<div class="card border-danger mb-3">
  <div class="card-header">Contratante</div>
  <div class="card-body text-danger">
    <h2 class="card-title">Listado Contratante</h2>
    <table class="table table-bordered table-striped">
      <thead>
          <tr>
              <th> Codigo Contratante </th>
              <th> Nombre Contratante </th>
              <th> Apellido Contratante </th>
              <th> Correo Contratante </th>
              <th> Usuario Contratante </th>
              <th> Telefono Contratante </th>
              <th> Fecha Nacimiento Contratante </th>
              <th> Numero de documento</th>
              <th> Tipo de documento </th>
              <th> Editar </th>
              <th> Documentos verificados </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let contratante of contratantes">
              <td>{{contratante.codUce}}</td>
              <td>{{contratante.nomUce}}</td>
              <td>{{contratante.apeUce}}</td>
              <td>{{contratante.correoUce}}</td>
              <td>{{contratante.username}}</td>
              <td>{{contratante.telefonoUce}}</td>
              <td>{{contratante.fechaNacimientoUce}}</td>
              <td>{{contratante.numDocumentoUce}}</td>
              <td>{{contratante.tipoDocContratantes.nombreTipoDocumento}}</td>
              <td>
                <button class="btn" name="button" [routerLink]="['/registro/contratantes/editar',contratante.codUce]">
                  <img src="../../../assets/img/editar.jpg" style="width: 70px; height: 75px;">
                </button>
                </td>
                <td>
                  <button class="btn">
                    <img src="../../../assets/img/autorización.jpg" style="width: 70px; height: 75px;">
                  </button>
                </td>
          </tr>
      </tbody>
    </table>
  </div>

